extends layout

block content
	div(style="display: flex;flex-direction: column;")
		each data in dataset.data
			div(style="display: flex;flex-direction: row;margin: 4px;font-size:12px;color:#303030;background-color:#eeeeee;")
				div(style="width:15%;margin:2px;") #{data[0]}
				div(style="width:15%;margin:2px;") #{data[1]}
				div(style="width:15%;margin:2px;") #{data[2]}
				div(style="width:15%;margin:2px;") #{data[3]}
				div(style="width:15%;margin:2px;") #{data[4]}
				div(style="width:15%;margin:2px;") #{data[5]}
